
.avatar
    .photo
        img(src="#{avatar}", alt="wechat")
    .name
        | #{username}
    .occupation
        | #{occupation}
.information
    +info-section("自我介绍")(class="introduction")
        .intro
            | #{introduction}
    +info-section("教育经历")(class="education")
        .school
            | #{education.school}
        .period
            | #{education.period}
    +info-section("语言水平")(class="language")
        .level
            | #{language.level}
        .details
            | #{language.details} 
    +info-section("获奖经历")(class="awards")
        ul
            each award in awards
                +award-li(award)
    +info-section("技术能力")(class="technique")
        ul
            each skill in techniques
                +skill-li(skill)
    +info-section("联系方式")(class="contact")
        each contact in contacts
            +contact-section(contact)